body {
    margin: 0px;
    padding: 0;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin: 0;
}

.container > * {
    padding: 5px;
    border: 1px solid 
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.navbar {
    grid-area: navbar;
}
  


.footer {
    grid-area: footer;
}

.container {
    display: grid;
    grid-gap: 5px;
    min-height: 100vh;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "header"
      "navbar"
      "content"
      "content"
      "footer";
}
  
@media (min-width: 500px) {
    .container {
      grid-template-columns: 3fr;
      grid-template-areas:
        "header  header" 
        "navbar   navbar"
        "content content"
        "footer  footer";

    }
    nav ul {
        display: flex;
        justify-content: space-between;
        margin-left: 300px;
    }


}

@media (min-width: 780px) {
    .container {
        grid-template-rows: auto 1fr 1fr;
        grid-template-columns: 3fr ;
        grid-template-areas:
            "header header  header "
            "content content content"
            "content content content"
            "footer footer  footer"
    }
    .nav ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-left: 300px;
    }



}

   
   
.navbar ul li {
        margin-right: 10px;
        color: rgb(50, 84, 124);
        font-size: 15px;
        font-family: 'Roboto Mono', monospace;
        text-transform: uppercase;
  
        }

.navbar{
    background-color:rgb(169, 241, 223);
    }

.navbar li:hover{
    background-color: rgb(255, 245, 109);
    border-radius: 70%;
    }


.navbar h1{

    font-size: 40px;
    font-family: 'Caveat', cursive;
    color:rgb(159, 180, 255);
    
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(370px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    padding: 10px;
    justify-content: ;
 
}


.grid-item{
display: flex;
align-items: center;
justify-content: 65px;

}


.grid-video{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(370px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    padding: 10px;
}



.contenedoruno{
    display: flex;
    height: 80px;
    background-color: rgb(159, 180, 255);
    padding: 10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin: 40px;
    margin-top: 20px;
    object-fit: cover;
    color: rgb(255, 245, 109);
    align-items: center;
    justify-content: space-around;
   } 
   
   .contenedorunoabajo{
    min-width: none;
    height: 40px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 30px; 
    line-height: 10px; 
    margin: 40px;
    margin-top: 20px;
    overflow: hidden;
    object-fit: cover;
    color:rgb(255, 211, 110);
   }
   

   .imagenuno{
    min-width: 900px;
    margin-left: 80px;
    padding: 90px;
    padding-bottom: 20px;
    
}

.imagenunoauto{
   width: 100%;
   margin-left: 50px;
   margin-right: 30px;
   height: auto;
}

.video{

margin-left: 10px;
margin-right: 10px;
}

.imagenunoplaya{
    width: 100%;
    height: auto;

}
.footer{
    width: 100%;
    padding: 50px 0;
   
}

.contenedorfooter{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
max-width: 1200px;
margin: auto;
margin-top: 20px;
margin-bottom: 20px;
background-color:rgb(164, 236, 161); 
font-family: 'Roboto Mono', monospace;
color: rgb(36, 70, 133);
padding: 20px;

}


.columnados{
    display: flex ;
    flex-direction: column ;

}


/*GALERIA*/

.sunset{
    object-fit: cover;
    padding: 80px;
    margin: 70px;
    border:20px;
    
}

.vehicle{
    object-fit: cover;
    padding: 80px;
    margin: 70px;
    border:20px
    
}

.poolside{
    object-fit: cover;
    padding: 80px;
    margin: 70px;
    border:20px
}

.waves{
    object-fit: cover;
    padding: 80px;
    margin: 70px;
    border:20px
    
}

.arquitectura{

    object-fit: cover;
    padding: 80px;
    margin: 70px;
    border:20px
    
}


.portrait{
    object-fit: cover;
    padding: 80px;
    margin: 70px;
    border:20px

}



























     