body {
    margin: 0px;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin: 0;
}

.container > * {
    padding: 1px;

}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.navbar {
    grid-area: navbar;
}
  
.footer {
    grid-area: footer;
}

.container {
    display: grid;
    grid-gap: 5px;
    min-height: 100vh;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "header"
      "navbar"
      "content"
      "content"
      "footer";
}
  
@media (min-width: 500px) {
    .container {
      grid-template-columns: 3fr;
      grid-template-areas:
        "header  header" 
        "navbar   navbar"
        "content content"
        "footer  footer";

    }
    nav ul {
        display: flex;
        justify-content: space-between;
        margin-left: 300px;
    }


}

@media (min-width: 780px) {
    .container {
        grid-template-rows: auto 1fr 1fr;
        grid-template-columns: 3fr ;
        grid-template-areas:
            "header header  header "
            "content content content"
            "content content content"
            "footer footer  footer"
    }
    .nav ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-left: 300px;
    }

}

  
.navbar ul li {
        margin-right: 15px;
        color: rgb(42, 18, 97);
        font-size: 15px;
        font-family: 'Roboto Mono', monospace;
        text-transform: uppercase;
        margin-left: 40px;
        }

.navbar{
    background-color:rgb(169, 241, 223);
    width: 100%;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    
    }

.navbar li:hover{
    background-color: rgb(255, 245, 109);
    border-radius: 70%;
    }


.navbar h1{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 40px;
    font-family: 'Lexend Deca', sans-serif;
    color:rgb(250, 251, 252);
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    

}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(370px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    padding: 10px;
    justify-items: center;
    margin-top: 30px;
 
}

  .grid-item{
  display: flex;
  align-items: center;
  justify-content: 65px;
  border-radius: 5%;
 
}

.grid-video{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    padding: 20px;
    margin-left: 90px;
   
}

.auto{
    border-radius: 5px;
}
.videos{
    border-radius: 5px;
}
.playa{
    border-radius: 5px;
}
.contenedoruno{
    display: flex;
    height: 80px;
    background-color: rgb(159, 180, 255);
    padding: 10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin: 40px;
    margin-top: 20px;
    object-fit: cover;
    color: rgb(255, 245, 109);
    align-items: center;
    justify-content: space-around;
   } 
   
   .contenedorunoabajo{
    min-width: none;
    height: 40px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px; 
    line-height: 10px; 
    margin: 40px;
    margin-top: 20px;
    overflow: hidden;
    object-fit: cover;
    color:rgb(255, 211, 110);
   }
   


.footer{
    width: 100%;
    padding: 50px 0;
   
}

.contenedorfooter{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
max-width: 1200px;
margin: auto;
margin-bottom: 20px;
background-color:rgb(164, 236, 161); 
font-family: 'Roboto Mono', monospace;
color: rgb(36, 70, 133);
padding: 15px;

}


.columnados{
    display: flex ;
    flex-direction: column ;

}


/*GALERIA*/

.sunset{
    object-fit: cover;
    padding: 80px;
    margin: 70px;
    border:20px;
    
    
}

.vehicle{
    object-fit: cover;
    padding: 80px;
    margin: 70px;
    border:20px;
  
}

.poolside{
    object-fit: cover;
    padding: 80px;
    margin: 70px;
    border:20px;
   
}

.waves{
    object-fit: cover;
    padding: 80px;
    margin: 70px;
    border:20px;
   
}

.arquitectura{

    object-fit: cover;
    padding: 80px;
    margin: 70px;
    border:20px;
   
    
}


.portrait{
    object-fit: cover;
    padding: 80px;
    margin: 70px;
    border:20px;
   

}
























     